body {
    background-image: url("../images/pokemon.jpg");
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;   
}

.pikachu {
	float: right;
	margin-right: 5px;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.squirtle {
	float: right;
	margin-right: 5px;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.charmander {
	float: right;
	margin-right: 5px;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.bulbasaur {
	float: right;
	margin-right: 5px;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

.text{
	text-align: center;
}



.enemies {
	clear: both;
}

.attack{
	clear: both;
}

.restart{
	clear: both;
}